<!DOCTYPE html>
<head></head>
<body>
    <form onsubmit="passwordForget(event)">
        <label for="email">Enter email id:</label>
        <input id="email" name="email">
        <button>Submit</button>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
     function passwordForget(event){
        event.preventDefault()
        
        email= event.target.email.value
        axios.post('http://localhost:3000/user/forgotPasswordDetails',email).then(response => {
            alert(response.data.message)
            console.log(response.data)
           
            window.location.href = "http://localhost:3000/user/login"
    }).catch(err => {
        console.log(JSON.stringify(err))
        document.body.innerHTML += `<div style="color:red;">${err.message} <div>`;
    })
     }
    </script>
</body>